<h2>Customer Information</h2>
<form method="post" action="/searchcustomer">
	<label for="cemail">Search by customer email:</label>
	<input type="email" name="cemail" />
	<input type="submit" value="Search" />
</form>

<ul>
  #foreach($listItem in $listItems)
   <li>$listItem</li><br>
  #end
</ul>

<ul>
  <h3>Customer Name: $cust[0] {{cust[1]}}</h3><br>
  <h5>Customer Email: $cust[2] {{cust[1]}}</h5><br>
  <h5>Contact Number: $cust[3]</h5><br>
  <h5>Credit Card Number: $cust[4] Exp: $cust[5] CVV: $cust[6]</h5><br>
  <h5>Password: $cust[6]</h5><br>
  #end
</ul>
<br>
Here is a list of the current customer's flights:
<ul>
  #foreach($flight in $flights)
    <li>
      <h4>From $flight[0] to $flight[1]</h4><br>
      <h4>Departure day: $flight[2]</h4><br>
      <h4>Departure time: $flight[3]</h4><br>
      <h4>Estimated arrival time: $flight[4]</h4><br>
      <h4>Seat Number: $flight[5]</h4>
      <form method="post" action="/cancel">
        <label for="fid"></label>
	<input type="hidden" name="fid" value=$stack.add($flight[6]) />
	<input type="submit" value="Cancel this flight" />
        <br>
      </form>
    </li>
  #end
</ul>
