#if($usedemail)
 <h1>An account with that email already exists, please create an account with a new email, or log into an account with
 that one</h1>
#end

<head>
  <title>Create an account!</title>
</head>

<body>
  <div class="title">
    <h1>Enter your information below</h1>
  </div>
  <div id="content">
    <form method="post" action="/register">
      <label for="fname">Enter your first name:</label>
      <input type="fname" name="fname" required/><br />
      <label for="lname">Enter your last name:</label>
      <input type="lname" name="lname" required/><br />
      <label for="contactn">Enter your primary phone number (###-###-####):</label>
      <input type="contactn" name="contactn" maxlength="12" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/><br />
      <label for="creditcard">Enter your credit card number (no spaces):</label>
      <input type="number" name="creditcard" minlength="12" maxlength="19" required/><br />
      <label for="exp">Enter your credit card expiration date (MMdd):</label>
      <input type="exp" name="exp" maxlength="4" pattern="\d{4}" required/><br />
      <label for="cvv">Enter your credit card security code:</label>
      <input type="cvv" name="cvv" maxlength="3" pattern="\d{3}" required/><br />
      <label for="email">Enter your email:</label>
      <input type="email" name="email" required/><br />
      <label for="password">Enter password:</label>
      <input type="password" name="password" required/><br />
      <input type="submit" />
    </form>
  </div>
</body>
<a href='/'>Home</a>
