#if($booked)
  <h1>Successfully booked flight!</hi>
#end

<h2>Search and book for current flights</h2>

<form method="post" action="/searchflights">
   <label for="destination">Enter a destination:</label>
   <input type="destination" name="destination" required/><br>
   <input type="submit" value="Search" />
 </form>
 <br>

<ul>
  #foreach($flight in $flights)
    <li>
      From $flight.getStart() to $flight.getDest()<br>
      Departure day: $flight.getDate()<br>
      Departure time: $flight.getTime()<br>
      Seats Available: $flight.getSeat()<br>
      Price: $flight.getPrice()<br>
      <form method="post" action="/bookflight">
        <label for="fid"></label>
        <input type="hidden" name="fid" value=$flight.getId() />
	<input type="submit" value="Book this flight" />
        <br>
      </form>
    </li>
  #end
</ul>

<p>Back to <a href='/customer'>homepage</a></p>
